<div class="container">
  <h1>Welcome to Javascript Racer!</h1>
  <form method="post" action="/start">
    <h2>Please type in your names</h2>
    <p>Player 1: <input type="text" name="player1"></p>
    <p>Player 2: <input type="text" name="player2"></p>
    <input type="submit">
  </form>
  <form method="post" action="/score">
    <h2>Type in your name to view your previous scores</h2>
    <p>Player Name: <input type="text" name="playername"> <input type="submit"></p>
  </form>
</div>
